<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 m-auto mt-5">
                <div>
                    <h2 class="text-centre">Signup</h2>
                </div>
                <form action="/signup" method="post">
                    
                    <div class="form-group">
                        <label for="">Name</label>
                        <input name="name"type="text" class="form-control">
                    </div>
                    
                    <div class="form-group">
                        <label for="">Email Address</label>
                        <input name="email"type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input name="password"type="password" class="form-control">
                    </div>
    
                    <a href="/login">Already have an acoount?</a>
                    <button type="submit" class="btn btn-primary float-right" >Submit</button>
                    
                </form>
            </div>

        </div>
    </div>
</section>